.headerImg {
  width: 100%;
  height: 50vh;
  z-index: -1;
}

.text {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.smallText {
  position: absolute;
  top: 18.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: small;
}

.container {
  position: absolute;
  top: 29.5%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  height: 100px;
}

.searchBar {
  background-color: white
}

.navbar {
  margin-top: 10px;
  height: 55px;
  border-radius: 5px
}

.btn {
  position: relative;
  top: -8px;
  right: 10px;
}

.textInput {
  height: 24px;
}

.inputCheckIn {
  padding-left: 77px;
  margin-top: -2px;
  font-weight: bold;
}

.dateInput {
  height: 25px;
}

.inputCheckOut {
  margin-top: -2px;
  font-weight: bold;
}

.goingToInput {
  margin-top: -2px;
  font-weight: bold;
}

.row {
  background-color: white;
  border-radius: 5px;
  height: 52px;
  width: 102%;
  margin-left: -12px;
}

.dropdownList {
  font-weight: bold;
  margin-top: -3px;
}

.searchButton {
  position: relative;
  top: 0px;
  right: 0px;
  height: 52px;
  width: 43px;
}

.nightsSpan {
  position: relative;
  bottom: -23px;
  right: 65px;
  font-weight: bold;
}
