<div>
  <img src="../../../assets/hotel.jpg" class="headerImg" />
  <div class="text">
    You're new travel mate
  </div>
  <p class="smallText">Book Hotels & Flights At The best Price</p>
  <div class="container">
    <form class="form-inline">
      <button class="btn btn-sm btn-primary" style=" margin-right: 4px; margin-left: -6px; margin-top: 6px; "
        type="button">Hotels</button>
      <button class="btn btn-sm btn-outline" type="button" style="color: white; margin-top: 5px; ">Flights</button>
    </form>
    <div class="row" style="background-color: white">
      <div class="col goingToInput">
        <i class="fa fa-map-marker"></i>
        Going to
        <br />
        <input type="text" class="textInput">
      </div>
      <div class="col-3 inputCheckIn">
        <i class="fa fa-calendar"></i>
        Check in
        <br />
        <input type="date" class="dateInput" placeholder="Enter Check in Date" id="firstDate">
      </div>
      <div class="col-3 inputCheckOut">
        <i class="fa fa-calendar"></i>
        Check out
        <br />
        <input type="date" class="dateInput" id="secondDate">
      </div>
      <span class="nightsSpan"><i class="fa fa-moon-o">{{this.setupDate()}} Nights</i></span>
      <div class="col dropdownList ">
        <i class="fa fa-bus"></i>
        Travelers
        <select class="mdb-select md-form" searchable="Search here..">
          <option value="" selected> Travellers , Rooms</option>
          <option value="1" disabled style="background-color: lightgray">Room 1</option>
          <option value="2">Adult</option>
          <option value="3">Children</option>
          <option value="3" disabled style="background-color: lightgray">Room 2</option>
          <option value="3">Adult</option>
          <option value="3">Children</option>
          <option><button type="submit">Add Room</button></option>
        </select>
        <!-- <ng-select [options]="options" [displayKey]="displayKey" [disable]="isDisable" [styleGuide]="styleGuide" [isDatalist]="isDataList" [searchKeys]="searchKeys" ></ng-select> -->
      </div>
      <button class="btn btn-warning searchButton" type="submit" (click)="AddHotelMenu()">
        <span class="fa fa-search"></span>
      </button>
    </div>
  </div>
</div>
<br />
<br />
