<div class="hotels">
  <div class="" style="float: left; width: 2px;">
    <div class="col-md-4" style="padding-left: 0px;">
      <div class="input-prepend-inner pull-left">
        <input class="searchInput col-md-7" placeholder="Search for hotel name">
        <span class="add-on"><i class="fa fa-search"></i></span>
      </div>
    </div>
    <div class="list-group">
      <select class="list-group-item list-group-item-action colorful-select dropdown-warning">
        <option value="1">Price</option>
      </select>
      <select class="list-group-item list-group-item-action colorful-select dropdown-warning">
        <option value="1">Star Rating</option>
        <option value="2">
          <star-rating value="5" checkedcolor="gold" uncheckedcolor="gray" size="24px" readonly="false"
            (rate)="onRate($event)"></star-rating>
        </option>
      </select>
      <select class="list-group-item list-group-item-action colorful-select dropdown-warning">
        <option value="1">Chain</option>
      </select>
      <select class="list-group-item list-group-item-action colorful-select dropdown-warning">
        <option value="1">Hotel Amenities</option>
      </select>
      <select class="list-group-item list-group-item-action colorful-select dropdown-warning">
        <option value="1">Room Amenities</option>
      </select>
    </div>
  </div>
  <div class="card mb-3" *ngFor="let item of hotels">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../../assets/hotel1.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{item.name}} At {{item.city}}</h5>
          <p class="card-text">
            <star-rating value="5" checkedcolor="gold" uncheckedcolor="gray" size="24px" readonly="false"
              (rate)="onRate($event)"></star-rating>
          </p>
          <!-- <p class="card-text"><small class="text-muted">{{item.availability[0].from}}</small></p> -->
        </div>
      </div>
    </div>
    <div class="card border-light priceCard">
      <div class="card-header" style="background-color: white"><i class="fa fa-share-alt" style="float: right;"></i>
      </div>
      <div class="card-body">
        <p class="card-text" style="text-align: center">Total price for 4 nights </p>
        <h6 class="card-text" style="text-align: center; font-weight: bold; margin-top: -16px;">{{item.price}} AED</h6>
        <button class="btn btn-primary" style=" margin-left: 49px; height: 32px; margin-top: -8px;">Available
          Rooms</button>
      </div>
    </div>
  </div>
</div>
