.hotels {
  background-color: lavender;
  width: 100%;
}

.card {
  max-width: 750px !important;
  right: -310px;
}

.card-img {
  margin-top: 4px;
}

.card-header {
  border-bottom-color: transparent !important;
}

.priceCard {
  width: 37%;
  float: right;
  margin-top: -144px;
  right: -754px;
}

.list-group {
  width: 301px;
  margin-top: 86px;
  height: 100vh;
}

.searchInput {
  width: 517px;
  height: 38px;
  margin-top: 16px;
  border-radius: 6px;
  border: inset
}

.add-on {
  position: relative;
  left: -24px;
}

.list-group-item {
  background-color: transparent !important;
  border-inline-end-color: transparent !important;
  border-inline-start-color: transparent;
  border-top: hidden
}
